<%
detalle_class = active == 'detalle'? 'active' : ''
tickets_class = active == 'tickets'? 'active' : ''
inventario_class = active == 'inventario'? 'active' : ''
archivos_class = active == 'archivos'? 'active' : ''
actividad_class = active == 'actividad'? 'active' : ''
%>
<ul class="tabs">
  <li class="tab col s2"><%= link_to 'Detalles', person_path(@person), target: "_self", class: detalle_class  %></li>
  <li class="tab col s2"><a href="#">Tickets</a></li>
  <li class="tab col s2"><%= link_to 'Inventario', person_items_path(@person), target: "_self", class: inventario_class %></li>
  <li class="tab col s2"><%= link_to 'Archivos', person_attachments_path(@person), target: "_self", class: archivos_class %></li>
  <li class="tab col s2"><%= link_to 'Actividad', person_activity_logs_path(@person), target: "_self", class: actividad_class %></li>
</ul>