<%= form_with(model: @person, local: true) do |form| %>
<div class="module-header">
  <div class="module-title"><strong>Personas</strong> <span class="grey-text">></span> <%= link_to @person.full_name, @person %> <span class="grey-text">></span> Editar</div> 
  <div class="module-actions">
  	<%= form.submit 'Guardar', class: 'waves-effect waves-light btn-small blue-grey' %>
  </div>
</div>
<div class="module-workarea">
  
</div>
<% end %>