<%
sin_resolver_class = active == 'sin-resolver'? 'active' : ''
todos_class = active == 'todos'? 'active' : ''
%>
<ul class="tabs">
  <li class="tab col s2"><%= link_to "#{unsolved_count} Sin Resolver", problems_path, target: "_self", class: sin_resolver_class  %></li>
  <li class="tab col s2"><%= link_to 'Todos', problems_all_path, target: "_self", class: todos_class %></li>
</ul>