<div class="module-header">
  <div class="module-title">
    Tickets
  </div>
  <div class="module-actions">
  	<a class="waves-effect waves-light btn green lighten-1" href="/tickets/new"><i class="material-icons ">add</i></a>
  </div>
</div>
<div class="module-workarea">
  <div class="module-menu">
    <%= render partial:"menu_index", locals: {active: 'mis-sin-resolver'} %>
  </div>
  <div class="item-area">
  	<div class="item-workarea">
  	  <div class="row">
        <div class="col s12 item-main">
          <div class="log-items">
            <%= render partial:"list", locals: {tickets: @tickets} %>
          </div>
            
        </div>
      </div>
  	</div>
  </div>
</div>