<div class="module-header">
  <div class="module-title"><strong>Inventario</strong></div>
  <div class="module-actions">
  	<a class="waves-effect waves-light btn-small light-blue" href="/cmdb/items/new">Agregar nuevo</a>
  </div>
</div>
<div class="module-workarea">
  <div class="row">

    <div class="col s4">
      <%= select_tag :ls_search_type_id, options_from_collection_for_select(ItemType.all, :id, :name), prompt: "Selecciona el tipo" %>
    </div>
    <div class="col s8">
      <%= text_field_tag :ls_item_q, nil, placeholder: 'Busca...' %>
    </div>

  </div>
  <div id="items-live-search">
    <%= render partial:"live_search", locals: {items: @items} %>
  </div>
</div>