<div id="login-area" class="card">
  <%= image_tag "logo.svg", id: 'app-logo' %>
  <h5>Tecnologías de la Información</h5>
  <a href="/auth/google_oauth2" class="red lighten-1 waves-effect waves-light btn">Ingresar</a>
</div>