// Place all the styles related to the Changes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.change-desc {
  font-size: 120%;
}

.change-header {
  border-bottom: 1px solid #ddd;
  margin: 16px 0;
  .change-picture {
    float: left;
    height: 80px;
    width: 80px;
    img {
      
      height: 64px;
      width: 64px;
    }
  }
  .change-person {
    font-weight: 500;
  }	
}

#change-responses {
  margin-top: 48px;
}

.change-responses-actions {
  text-align: right;
  padding-bottom: 32px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 32px;
}

.change-side-action {
  margin-bottom: 32px;
}