// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.problem-desc {
  font-size: 120%;
}

.problem-header {
  border-bottom: 1px solid #ddd;
  margin: 16px 0;
  .problem-picture {
    float: left;
    height: 80px;
    width: 80px;
    img {
      
      height: 64px;
      width: 64px;
    }
  }
  .problem-person {
    font-weight: 500;
  }	
}

#problem-responses {
  margin-top: 48px;
}

.problem-responses-actions {
  text-align: right;
  padding-bottom: 32px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 32px;
}

.problem-side-action {
  margin-bottom: 32px;
}

#problem-survey {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 1em 0;
  padding: 1em 0;
}