<!DOCTYPE html>
<html>
  <head>
    <title>Tecnologías de la Información</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <style>
    #header {
	  position: absolute;
	  height: 64px;
	  top: 0;
	  right: 0;
	  left: 0px;
	  background: #fff;
	  border-bottom: 1px solid #ddd;
	  display: cell;
	  vertical-align: top;
    }
	.header-title {
	  font-size: 20px;
	  margin-top: 18px;
	  float: left;
	}
	#header img {
	  height: 48px;
	  margin: 8px 8px 8px 16px;
	  float: left;
	}

	#header a {  
	  font-weight: 500;
	  color: #333;
	}
	
    #workarea {
      position: absolute;
      overflow:visible;
      top: 80px;
      bottom: 0;
      left: 64px;
      right: 64px;
    }
    </style>
  </head>

  <body>
  	<div id="header">
      <%= image_tag "logo.svg" %>
      <div class="header-title"><a href="/">Tecnologías de la Información</a></div>
    </div>
    <div id="workarea">
      <%= yield %>
    </div>
  </body>
</html>